
.contact 
{
    background-image:url(images/contact_bg.jpeg);
    width: 414px (max-width 515px);
    
}

.contact .container{
background-color: $color-bwhite;
width: 384px;
height: 645px;

}
input
{
    width: 347px;
    height: 50px;
}