$color-white:#FFF;
$color-blue: #34497C;
$color-bwhite:#4B69B1;
$color-yellow: #FBA702;
$color-grey:#585858;
$color-tgrey:#828282;
$color-ttblue:#253458;
$color-tyellow:#A86F00;

$font-Garamond:"EB Garamond", sans-serif;
$font-Oswald:'Oswald', sans-serif;
